PORT=8080

# Get this from Firebase Console > Project Settings > Service Accounts > Generate new private key
FIREBASE_SERVICE_ACCOUNT_PATH="./firebase-adminsdk.json"

# Set this to your GCP project ID that has Vertex AI enabled
GCP_PROJECT_ID="gen-lang-client-0121009752"
GCP_LOCATION="us-central1"
